name: Automatic Release

on:
  workflow_call:
    inputs:
      node_version:
        type: string
        default: 'latest'
      is_build:
        type: boolean
        default: true
      is_publish:
        type: boolean
        default: false
    secrets:
      SEMANTIC_BOT_APP_ID:
        required: true
      SEMANTIC_BOT_PRIVATE_KEY:
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:    
      contents: write
      packages: write
      id-token: write 
    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.SEMANTIC_BOT_APP_ID }}
          private-key: ${{ secrets.SEMANTIC_BOT_PRIVATE_KEY }}

      - name: Checking out code
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          token: ${{ steps.generate_token.outputs.token }}

      - name: Setting up Node
        uses: actions/setup-node@v5
        with:
          node-version: ${{ inputs.node_version }}  
          registry-url: 'https://registry.npmjs.org' 

      - name: Install dependencies
        run: npm ci

      - name: Upload previous build artifact
        if: ${{ inputs.is_build }}
        uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist

      - name: Release and publish
        run: npx semantic-release
        env:
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
          PUBLISH: ${{ inputs.is_publish }}
